@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  min-height: 100%;
  min-width: 100%;
  font-family: "Rubik", sans-serif;
  margin: 0px;
  padding: 0px;
  /* overflow-y: hidden; */
  background-color: #F4F2EE;
  position: relative
}



.topBar{
  background-color: #314051;
  height: auto;
  width: 100%;
  z-index: 6;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.data{
  display: flex;
  margin-right: 50px;
  color:#DAD7DA;
  justify-content: center;
  align-items: center;
  
}

.unlisted{
  display: flex;
  cursor: pointer;
  
}

.data:hover{
  color: white;
}

.sidebar{
  background-color: #FFFFFF;
  margin-left: 70px;
  margin-top: 100px;
  z-index: 4;
  height: 400px;
  width: 250px;
  border-radius: 12px;
  position: absolute;
}

.first-post{
  margin-top: 100px;
}

.not-first-post{
  margin-top: 20px;
}

.HomePage{
  background-color: #FFFFFF;
  height: auto;
  width: auto;
  margin-left: 350px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.HomePage ul{
  list-style-type: none;
}
.HomePage li{
  list-style-type: none;
}


.profile{
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: 16px;
  width: 100px;
  height: 100px;
}

.profileText{
  margin-left: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits the text to two lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  font-size: 15px;
  max-width: 250px;
  hyphens: auto;
  word-wrap: break-word;
  line-height: 1.2em;
}

.nameText{
  margin-left: 16px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}

.smallpic{
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 1px;
  margin-left: 1px;
  width: 50px;
  height: 50px;
}

.user-details{
  margin-left: 10px;
}

.user-about{
  margin: 5px 0; 
  font-size: 14px; 
  color: #888;
}

.user-post{
  height: 400px;
  width: 800px;
  border-radius: 10px;

}

.login{
  height: auto;
  width: 400px;
  position: absolute;
  background-color: white;
  border-radius: 30px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}

.bar{
  background-color: #FFFFFF;
  margin-left: 170px;
  margin-top: 150px;
  z-index: 4;
  height: 600px;
  width: 780px;
  border-radius: 12px;
  position: absolute;
  
}

.barProfile{
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 16px;
  margin-left: 16px;
  width: 200px;
  height: 200px;
}

.barNameText{
  margin-left: 16px;
  width: 250px;
}

.barProfileText{
  margin-left: 20px;
  margin-top: 60px;
  width: 450px;
  font-size: 15px;
}