.firstBox {
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2,minmax(0, 1fr));
    border-Radius: 5px;
}

.secondBox{
    
    grid-column: span 4;
    border-radius: 5px;
    padding: 1rem;
}
.secondBox:hover {
    cursor: pointer;
}

.thirdBox {
    padding: 0rem;
     background-color: #00D5FA;
     border: 2px solid dashed #00D5FA;
     justify-content: center;
}

.thirdBox:hover {
    cursor: pointer;
}

.bgColor {
    color: white;
}


